* {
    font-family: Helvetica;
}
nav {
    background: #f1f3ff;
}

.navbar-toggler {
    border: 0;
}

.btn {
    background: #5cb85f;
    border: 0;
}

.hero {
    background: #f1f3ff;
}

.hero-title {
    line-height: 150%;
    font-size: 36px;
    line-height: 54px;
}

.hero-text {
    font-style: normal;
    font-weight: 300;
    line-height: 30px;
}

.card-title {
    font-size: 16px;
    font-text: 24px;
}

.card-text {
    font-size: 14px;
    font-height: 20px;
}

.card {
    width: 268px;
}

.testimonial-body {
    background: #f1f3ff;
    box-shadow: 0px 0px 4px rgba(0, 0, 0, 0.15);
    width: 619px;
}

.testimonial-text {
    font-weight: 300;
    font-size: 14px;
    line-height: 20px;
    text-align: left;
}

@media (max-width: 576px) {
    .card {
        width: auto;
    }
    .testimonial-body {
        width: auto;
    }
}

.banner {
    background: #0d28a6;
    border-radius: 13px;
}
